.address a{
    color: #434455;
    font-style: normal;
    font-weight: 400;
}
.nav__links a{
    color: #2E2F42;
    font-style: normal;
    font-weight: 500;
}
.nav__links a:hover {
    color: #404BBF;
    font-style: normal;
}
.nav__links a:focus {
    color: #404BBF;
    font-style: normal;
}
.address a:hover {
    color: #404BBF;
    font-style: normal;
}
.address a:focus {
    color: #404BBF;
    font-style: normal;
}
.header__container{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 15px;
    isolation: isolate;
    margin: 0 auto;
    max-width: 1158px;
}
.nav__links{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 40px;
    

}
.address{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;

    margin-left: auto;
    gap: 0;

}
.address ul{
    display: flex;
    flex-direction: row;
    gap: 40px;
    padding: 0;
    margin: 0;
    list-style: none;
}
.header{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center; 
    align-items: center;
    padding: 0px;

    background: #FFFFFF;
    border-bottom: 1px solid #E7E9FC;
    border-radius: 0px;

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;

}