.hero{ 
    align-items: center;
    background-color: #2E2F42;
    padding-top: 188px;
    padding-bottom: 188px;


}
.hero__title{
    font-family: Roboto;
    font-weight: 700;
    font-style: bold;
    line-height: 1.07;
    font-size: 56px;
    text-align: center;
    color: #FFFFFF;
    letter-spacing: 0.02em;
    width: 496px;
    height: 120px;
    margin: 0 auto;
    margin-bottom: 48px;

}
.button{
    margin: 0 auto;
    padding: 16px 32px;
    color: #FFFFFF;
    width: 169px;
    max-width: 169px;
    height: 56px;

    background: #4D5AE5;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;

}
.button:hover{
    background-color: #404BBF;
}
.button:focus{
    background-color: #404BBF;
}


