.portfolio{
    padding-top: 120px;
    padding-bottom: 120px;
}
.portfolio__text {
    color: #434455;
}
.portfolio-grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-start;
    padding: 0px;
    gap: 48px 24px;

}

.portfolio-card {
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 360px;
min-width: 288px;
max-width: 360px;
height: 420px;
min-height: 360px;
max-height: 420px;


background: #FFFFFF;


flex: none;
order: 0;
flex-grow: 1;

}

